
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Template{% endblock %}</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css"  href="{% static 'main/style.css' %}">
    
    <script src={% static 'main/script.js' %}></script>
    {% block script%}
    {% endblock %}
</head>

<body>
    <div id="body">
        <div class="headerBackground">
            <h1>Heabit
            </h1>

            <div>
              <ul>
                <li class="li"><a href="/">Profile</a></li>
                <li class="li"><a href="/quiz">Quiz</a></li>
                <li class="li"><a href="/diet">Diet</a></li>
                <li class="li"><a href="/exercise">Exercise</a></li>
              </ul>
            </div>
        </div> 

        <div class="mainText" >
            {% block mainText %}
            {% endblock %}
        </div>
    </div>

    <footer>
        <h3>Footer - References
        </h3>
        <a href="https://www.google.com" target="_blank" title="Google">Just a Template</a>
    </footer>
</body>
</html>